[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose = "*"
colorlog = "*"
selenium = "*"
HtmlTestRunner = "1.0.3"
appium-python-client = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
